# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ignore pycharm ide setting folder
.idea

# ignore data files and directories
test
*_LDA
pp_*
LDA_*
reuters*
brown*
newsarchive*
inaugural*
data*
*.txt
*.html

# ignore compressed files
*.zip
*.rar